
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --heading-font-family: "Kaushan Script", serif;
    --content-font-family: "Poppins", serif;
    --primary-terxt-color: rgb(153, 153, 153);
    --heading-text-color: #292929;
    --gray-bg: #f9f9f9;
    --link-border-color: #fdd912;
    --banner-text-color: #fff;
    --body-bg-color: #fff;
    font-size: 10px; 
    

}
body{
    background-color: var(--body-bg-color);
    font-family: var(--content-font-family);
    font-size: 1.5rem;
    color: var(--primary-terxt-color);
    font-weight: 300;
}

/* Start Common Styles*/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    color: var(--heading-text-color);
}
h1, h2 {
    font-family: var(--heading-font-family);
    
    
}
h3, h4, h5, h6{
    font-family: var(--content-font-family);
    
}
h1{
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4.6rem;
}
h2{
    font-size: 4.4rem;
    line-height: 5.6rem;

}

p{
    line-height: 2.8rem;
    letter-spacing: 0.02rem;

}
a{
    color: var(--primary-terxt-color);
    transition: all 0.4s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500; 
    opacity: 1;
}

.section-outer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12rem 0;

}
.section-inner{
    max-width: 1200px;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}
/* End Common Styles*/

/* header section start */
.header-section{
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 575px;

}  
.nav-section{
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    float: inline-start;
    
}
.menu-btn{
    float: right;
    display: flex;
}
.header-section h1{
    float: left;
    padding-left: 80px;
}
.menu-btn a{
    margin: 25px;
    letter-spacing: 0.1rem;
    display: block;
    font-size: 12px;
}
.menu-btn a:hover{
    color: #292929;
    box-shadow: inset 0 -8px 0 var(--link-border-color); 
}



/* nav section end */


/* */
.backg-image{
    position: relative;
    display: inline-block;
}
.backg-image img{
    padding: 5px 0px;
    width: 100%;
    height: auto;
}
.centered-text {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    height: 24px;
    cursor: pointer;
}
.centered-text h4{
    font-size: 80px;
    color: #fff;
    margin: 0;
}
.centered-text a{
    color: #fff;
    font-size: 16px;
    padding: 15px;
}
h4:hover .overlay-text::after {
    content: "LinkedIn";
}

/* */



/* About section start*/

.about-section{
    display: flex;
    align-items: center;
    gap: 40px;

}
.about-section img{
    max-width: 360px;
    height: auto;
}
.about-section> div{
    align-self: flex-start;
}
.about-section a{
    color: var(--heading-text-color);
    font-weight: 500;
    letter-spacing: 2.4px;
    display: inline-block;
    box-shadow: inset 0 -6px 0 var(--link-border-color);
    text-transform: uppercase;
    font-size: 1.2rem;
}
.about-section a:hover{
    box-shadow: inset 0 -14px 0 var(--link-border-color); 
}
/* about section end */




/* what i do section */
.wh-outer h2{
 box-sizing: border-box;
 text-align: left;
 font-weight: 400;
 font-size: 30px;
 width: 1160px;
}

.wh-outer{
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 405px;

}
.wh-title{
    line-height: 40px;
    width: 1160px;
    margin: 0px;
}
.wh-inner{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
}

.wh-item{
    margin-top: 25px;
    width: 360.969px;
    box-sizing: border-box;
    height: 154px;
    
}
.wh-item h3{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1rem;
}
.wh-item p{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0,3px;
    line-height: 22px;
    text-align: left;
}
.wh-item i{
    font-size: 44px; 
    line-height: 48px; 
    color: rgb(231, 231, 5);
}
/*WHAT I do section end */


/* Resent works start */
.works-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 745px;
}
.works-outer h2{
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    width: 1160px;
}
.works-inner{
    width: 1160px;
    float: left;
    display: flex;
    justify-items: flex-start;
    margin: 0px;
    gap: 40px;
    
}
.works-inner > a{
    text-transform: capitalize;
    font-weight: 300;
}
.works-items img{
    width: 359px;
    height: 27rem;
    padding: 20px;

}

/* Resent works end*/

.blog-outer{
    display: flex;
    width: 100%;
    height: 594.969px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-bg);
}
.blog-outer h2{
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    width: 1160px;
}
.blog-inner{
    margin-left: 94.5px;
    margin-right: 94.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.blog-item{
    padding: 20px 20px 0 20px;
    width: 359.969px;
    height: 49.5rem;
    display: flex;
    flex-direction: column;
}
.blog-item a{
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 13px 0;
    font-weight: 500;
    color: #292929;
    text-transform: capitalize;
    opacity: 1;
}
.blog-item > a >img{
    width: 359px;
    max-width: 100%;
}
.blog-item p{
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 13px 0;
}
.blog-item strong{
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    color: #b9b9b9;
}
.blog-view{
    width: 100%;
    max-width: 1160px;
}
.blog-view a{
    color: var(--heading-text-color);
    font-weight: 500;
    letter-spacing: 2.4px;
    display: inline-block;
    box-shadow: inset 0 -6px 0 var(--link-border-color);
    text-transform: uppercase;
    font-size: 1.2rem;
}


/* */

.form-outer{
    width: 100%;
    height: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-outer h2{
    box-sizing: border-box;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    width: 1160px;
    line-height: 40px;
}
.form-inner{
    width: 1160px;
    height: 321px;
    float: left;
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
}

.form-item{
    display: flex;
    flex-direction: row;
}
.form-item div {
    width: 559.96px;
    height: 47px;
    margin-bottom: 20px;
    display: block;
    padding: 0 20px;
}
.form-item div input{
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 0;
}
.message div{
    max-width: 1159.9px;
    width: 100%;
    height: 79px;
    margin-bottom: 20px;
    display: block;
    padding: 0 20px;
}
.message div textarea{
    border: 0px;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 79px;
    padding: 20px 0;
}
.send-btn{
    width: 100%;
    max-width: 1160px;
    padding: 0 20px;
    margin-top: 50px;

}
.send-btn a{
    color: rgb(41, 41, 41);
    padding: 2px 0 0 0 ;
    font-weight: 500;
    vertical-align: top;
    opacity: 1;
    text-align: left;
    line-height: 12px;
    letter-spacing: 2.4px;
    display: inline-block;
    box-shadow: inset 0 -6px 0 var(--link-border-color);
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* End form */


/*footer start */
.footer-outer{
    display: flex;
    width: 100%;
    max-width: 1903px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-bg);
    padding-bottom: 60px;
}



.footer-icon{
    display: flex;
    flex-direction: row;
    height: 42px;
    margin-bottom: 20px;
}
.footer-icon a{
    width: 42x;
    height: 42px;
    color: rgb(41, 41, 41);
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 6px;
}
.footer-icon a i{
    font-size: 18px;
    padding: 13px;
    height: 18px;
}
.footer-icon a:hover{
    border: 1px solid #000;
}
.copyright p{
    font-size: 13px;
    height: 20px;
    max-width: 1903px;
    width: 100%;
    margin: 0;
}
.copyright{
    height: 46px;
}
/* footer end */